#welcome {
  height: 100vh;
  width: 100vw;
  font-family: 'Lato', sans-serif;
  text-align: center;
  overflow: hidden;
  background-image: url("images/welcomebackground.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  color: white;
  z-index: 0;
}

#welcome #tophalf {
  position: absolute;
  top: 0;
  height: 50%;
  width: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.41360294117647056) 22%, rgba(0, 0, 0, 0.9150035014005602) 100%);
}

#intro {
  margin-top: 15vh;
  font-size: max(60px, 4vw);
}

h1 {
  font-size: max(60px, 9vw);
  border-style: solid;
  width: 80vw;
  margin-left: 10vw;
  margin-top: 5vw;
  position: absolute;
  padding-top: 2vw;
  padding-bottom: 2vw;
  top: 40vh;
  filter: none;
  background-color: rgba(0, 0, 0, 0.3);
}

#greeting-container {
  margin-top: 20px;
}

#whoami {
  height: 100vh
}

#whoami h2 {
  font-family: 'Lato', sans-serif;
  text-align: center;
}

body {
  margin: 0;
}

#whoami img {
  width: 10%;
}